<div class="input-field" [ngClass]=wrapperClasses>
  <input  
    [id]=inputId
    [ngClass]=inputClasses
    [type]=inputType
    (input)=onChange()
    (blur)=onBlur($event)
    (focus)=onFocus()
    [disabled]="disabled"
    [mask]=maskPattern
    [value]=value >
  <label [for]=inputId [ngClass]="{'active': isActive ? true : disabled ? true : false, labelClasses: true}">{{labelText}}</label>
  <span *ngIf="valid" class="helper-text">{{helperText}}</span>
  <div *ngIf="!valid" [ngClass]="{'red-text': escalateMsg, 'helper-text': true}">{{error}}</div>
</div>