<div class="row">
  <div class="col s12">
    <div class="card indigo accent-3">
      <div class="card-content">
        <span class="card-title">Create a Customer</span>
 
        <form [formGroup]="createCustomerForm">
          <div class="row">
            <input-field
              formControlName="customerFirstName"
              labelText="First Name"
              helperText=""
              inputId="customer_first_input"
              wrapperClasses='col s12 m6 white-text'></input-field>
            <input-field
              formControlName="customerLastName"
              labelText="Last Name"
              helperText=""
              inputId="customer_last_input"
              wrapperClasses='col s12 m6 white-text'></input-field>
            <input-field
              formControlName="customerEmail"
              labelText="Email"
              helperText=""
              inputId="customer_email_input"
              wrapperClasses='col s12 m6 white-text'></input-field>
            <input-field
              formControlName="customerPhone"
              inputId="customer_phone_input"
              labelText="Phone"
              wrapperClasses='col s12 m6 white-text'></input-field>
          </div>
        </form>
      </div>
      <div class="card-action">
        <a routerLink="/" class="white-text">Back</a>
        <button type="submit"  (click)="createCustomer($event)" class="btn cursor">Create</button>
      </div>
    </div>
  </div>
</div>