<div class="row">
  <div class="col s12">
    <div class="card indigo accent-3">
      <div class="card-content">
        <span class="card-title">Customer Address</span>
        <form [formGroup]="customerForm">
          <div class="row">
            <input-field
              formControlName="customerAddress"
              labelText="Address"
              helperText=""
              inputId="customer_address_input"
              wrapperClasses='col s12 m6'></input-field>
            <input-field
              formControlName="customerSecondaryStreet"
              labelText="Address Line 2"
              helperText=""
              inputId="customer_secondary_street_input"
              maskPattern="S"
              wrapperClasses='col s12 m6'></input-field>
            <input-field
              formControlName="customerCity"
              labelText="City"
              helperText=""
              inputId="customer_city_input"
              wrapperClasses='col s12 m5'></input-field>
            <select-box
              formControlName="customerState"
              [options]=states
              labelText="State"
              inputId="customer_state_input"
              wrapperClasses='col s12 m5'></select-box>
            <input-field
              formControlName="customerZip"
              inputId="customer_zip_input"
              labelText="Zip"
              wrapperClasses='col s12 m2'></input-field>
          </div>
        </form>
      </div>
      <div class="card-action">
        <a routerLink="../" class="white-text">Back</a>
        <!-- <button type="submit"  (click)="createCustomer($event)" class="btn cursor">Create</button> -->
        <button type="submit"  routerLink="/customer-create/personal" class="btn cursor">Next</button>
      </div>
    </div>
  </div>
</div>
